*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #ECE9FD;

    padding: 6.0rem 2.3rem 6.6rem;

    font-size: 1.6rem;
    
    font-family:'Epilogue', sans-serif; 

}
main{
    max-width:32.9rem;
    margin: auto;
}
:root{
    font-size: 62.5%;
}
main p:first-child{
    color: #7158EF;
    line-height: 3.2rem;
    letter-spacing: 0.3rem;

    text-transform: uppercase;

    margin-bottom: 1.7rem;

}
h1{   
    font-weight: 800;
    line-height: 4.8rem;   
    font-size: 4.0rem;

    margin-bottom: 1.5rem;

}
h1 + p{
    color: rgba(10, 0, 57, 0.64);
    line-height: 3.2rem;

    margin-bottom: 3.2rem;

}
a{
    display: inline-block; /*para que o margin-botton funcione corretamente*/

    text-decoration: none;
    color: #090039;

    line-height: 3.2rem;

    margin-bottom: 7.2rem;
}
a:hover{
    font-weight: bold;
}
ul{
    list-style: none;
    text-decoration: none;
}
ul li span{
    font-weight: 800;
    font-size: 7.2rem;
    line-height: 8.0rem;

    letter-spacing: -2px;
    color: #090039;
}
ul li{
    width: 25.7rem;

    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3.2rem;

    color: #090039;

    display: flex;
    gap: 3.8rem;
    
}
ul li+li{
    margin-top: 3.2rem;
   }

@media (min-width: 700px){
    body{
        padding: 8rem;
    }
    main{
    display: flex;
    gap: 10rem;
    max-width: 1020px;
   }
   main > div{
    max-width: 484px;
   }
   ul li{
    max-width: 450px;
    gap: 3.8rem;
    align-items: center;
   }
   ul{
    margin-top: 7.2rem;
   }
   
}